# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: OS-specific
.DS_Store
Thumbs.db

# Optional: VSCode/IDE
.vscode/
.idea/

# React build
build/
dist/

# Logs
logs/
*.log

# Optional: ignore MongoDB database dump files
*.bak
*.mongo
dump/
